<app-header></app-header>

<ion-content>

  <div *ngIf="!usuario" class="ion-text-center ion-padding-top">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando perfil...</p>
  </div>

  <div *ngIf="usuario" class="ion-padding profile-view">

    <ion-card color="dark">
      <ion-card-header>
        <ion-card-title>¡Hola, {{ usuario.nombre_usuario }}!</ion-card-title>
        <ion-card-subtitle>{{ usuario.correo }}</ion-card-subtitle>
        <ion-avatar class="ion-margin-top">
          <img
            alt="Perfil"
            [src]="usuario?.foto_perfil || 'https://ionicframework.com/docs/img/demos/avatar.svg'"/>
        </ion-avatar>

      </ion-card-header>
      <ion-card-content>
        <p>Miembro desde: {{ usuario.fecha_registro | date:'longDate' }}</p>
        <p>Rol: {{ usuario.tipo_usuario }}</p>

        <div class="botones-perfil">
          <ion-button expand="block" fill="outline" color="primary" class="botones-perfil">
            Ver Historial de Compras
          </ion-button>

          <ion-button expand="block" fill="outline" color="primary" class="botones-perfil">
            Ver Historial de publicaciones
          </ion-button>

          <ion-button expand="block" fill="outline" color="primary" (click)="irAEditarPerfil()" class="botones-perfil">
            EDITAR MIS DATOS PERSONALES
          </ion-button>

          <ion-button expand="block" color="danger" (click)="cerrarSesion()" class="botones-perfil">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            Cerrar Sesión
          </ion-button>
        </div>

      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
