<ion-content [fullscreen]="true">

  <ion-toolbar color="transparent">
    <ion-searchbar
      placeholder="Buscar carta, set o rareza..."
      [debounce]="250"
      (ionInput)="onSearchChange($event)"
      animated="true">
    </ion-searchbar>
  </ion-toolbar>

  <ng-container *ngIf="publicaciones$ | async as publicaciones; else loading">

    <div *ngIf="publicaciones.length === 0" class="ion-text-center ion-padding">
      <p>No se encontraron cartas con ese criterio.</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col
          size="6"
          size-md="4"
          size-lg="3"
          *ngFor="let pub of publicaciones">

          <ion-card (click)="verDetallePublicacion(pub)" class="ion-activatable">
            <ion-ripple-effect></ion-ripple-effect>

            <img
              [src]="pub.carta?.imagen_carta"
              [alt]="pub.carta?.nombre || 'Carta'" />

            <ion-card-header>
              <ion-card-title>
                {{ pub.carta?.nombre }}
              </ion-card-title>

              <ion-card-subtitle>
                 {{ pub.precio | currency:'CLP':'$' }}


              <p class="card-info" *ngIf="pub.carta?.nombre_set">
                Set: {{ pub.carta?.nombre_set }}
              </p>

              <p class="card-info" *ngIf="pub.carta?.rareza">
                {{ pub.carta?.rareza }}
              </p>

              <p class="card-info" *ngIf="pub.estado">
                Est: {{ pub.estado }}
              </p>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-button
              expand="full"
              (click)="agregarAlCarrito(pub, $event)"
              color="primary">
              Añadir al Carrito
            </ion-button>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-template #loading>
    <div class="ion-text-center ion-padding">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando publicaciones...</p>
    </div>
  </ng-template>

</ion-content>
