<ion-content [fullscreen]="true">

  <!-- Nos suscribimos a publicaciones$ -->
  <ng-container *ngIf="publicaciones$ | async as publicaciones; else loading">
    <ion-grid>
      <ion-row>

        <!-- Itera sobre las publicaciones -->
        <ion-col
          size="6"
          size-md="4"
          size-lg="3"
          *ngFor="let pub of publicaciones">

<ion-card
            (click)="verDetallePublicacion(pub)"
            class="ion-activatable">

            <ion-ripple-effect></ion-ripple-effect>

            <img
              [src]="pub.carta?.imagen_carta"
              [alt]="pub.carta?.nombre || 'Carta'" />

            <ion-card-header>
              <ion-card-title>
                {{ pub.carta?.nombre }}


              <p class="card-info" *ngIf="pub.carta?.nombre_set">
                {{ pub.carta?.nombre_set }}
              </p>

              <p class="card-info" *ngIf="pub.estado">
                Estado: {{ pub.estado }}
              </p>
                {{ pub.precio | currency:'CLP':'$' }}
              </ion-card-title>
            </ion-card-header>

            <ion-button
              expand="full"
              (click)="agregarAlCarrito(pub, $event)"
              color="primary">
              Añadir al Carrito
            </ion-button>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <!-- Estado de Carga -->
  <ng-template #loading>
    <div class="ion-text-center ion-padding">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando publicaciones...</p>
    </div>
  </ng-template>

</ion-content>
