:root {
  --ion-color-primary: #0A84FF; /* El azul brillante de tu mockup */
  --ion-color-primary-rgb: 10, 132, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0974e0;
  --ion-color-primary-tint: #238ffc;

  /* Colores del Modo Oscuro (basados en tu mockup) */
  --ion-color-dark: #1C1C1E; /* Fondo para Header/Tabs (Gris oscuro) */
  --ion-color-dark-rgb: 28, 28, 30;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #19191a;
  --ion-color-dark-tint: #333335;

  --ion-color-medium: #2C2C2E; /* Fondo para el contenido de la página */
  --ion-color-medium-rgb: 44, 44, 46;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #272729;
  --ion-color-medium-tint: #414143;

  /* Sobrescribimos los colores base de Ionic
    para forzar tu paleta oscura.
  */

  /* Color del fondo de la app */
  --ion-background-color: var(--ion-color-medium);
  --ion-background-color-rgb: var(--ion-color-medium-rgb);

  /* Color del texto */
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  /* Color de fondo del Toolbar (Header) */
  --ion-toolbar-background: var(--ion-color-dark);

  /* Color de fondo de la Barra de Pestañas */
  --ion-tab-bar-background: var(--ion-color-dark);

  /* Color de los items (texto, etc) */
  --ion-item-background: var(--ion-color-medium);
  --ion-card-background: var(--ion-color-dark);
}
