<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Iniciar Sesión</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" expand="block" [routerLink]="['../tabs/catalogo']" > VOLVER </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-loading [isOpen]="isLoading" message="Ingresando..."></ion-loading>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-text color="danger" *ngIf="error">
      <p class="ion-padding-start">{{ error }}</p>
    </ion-text>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="loginForm.invalid || isLoading"
      color="primary"
      class="ion-margin-top">
      Ingresar
    </ion-button>
  </form>

  <ion-button expand="block" fill="clear" routerLink="/register">
    ¿No tienes cuenta? Regístrate
  </ion-button>

</ion-content>
