.big-thumbnail {
  --size: 110px;
  height: 150px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.edit-container {
  padding: 0 16px 16px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.edit-actions {
  margin-top: 8px;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}